Repository Marcsllite/rad_shipment_calc: changes, and which Codecov flags are due for each by the changed paths.
All: integration, unit_controller, unit_dao, unit_model, unit_service, unit_util

updating code cov flag management, build
  codecov.yml
Due: none

update dependency versions
  pom.xml
Due: none

add Serial annotation
  src/main/java/com/marcsllite/model/db/A1Model.java
  src/main/java/com/marcsllite/model/db/A2Model.java
  src/main/java/com/marcsllite/model/db/BaseDataModel.java
  src/main/java/com/marcsllite/model/db/BaseModel.java
  src/main/java/com/marcsllite/model/db/DecayConstantModel.java
  src/main/java/com/marcsllite/model/db/ExemptConcentrationModel.java
  src/main/java/com/marcsllite/model/db/ExemptLimitModel.java
  src/main/java/com/marcsllite/model/db/HalfLifeModel.java
  src/main/java/com/marcsllite/model/db/LimitsModel.java
  src/main/java/com/marcsllite/model/db/LimitsModelId.java
  src/main/java/com/marcsllite/model/db/NuclideModel.java
  src/main/java/com/marcsllite/model/db/NuclideModelId.java
  src/main/java/com/marcsllite/model/db/ReportableQuantityModel.java
  src/main/java/com/marcsllite/model/db/ShipmentModel.java
Due: integration, unit_model

fix org.junit.jupiter.api.Assertions.assertEquals parameters
  src/integration-test/java/com/marcsllite/controller/ReferencePaneControllerGUITest.java
Due: integration

stop using setters before class is initialized in constructor
  src/main/java/com/marcsllite/controller/SplashScreenController.java
  src/main/java/com/marcsllite/model/NuclideConstants.java
  src/main/java/com/marcsllite/model/ReportableQuantity.java
  src/main/java/com/marcsllite/service/DBServiceImpl.java
  src/main/java/com/marcsllite/util/factory/ControllerFactory.java
  src/main/java/com/marcsllite/util/handler/EntityManagerHandler.java
  src/main/java/com/marcsllite/util/handler/FolderHandler.java
  src/main/java/com/marcsllite/util/handler/StageHandler.java
  src/test/java/com/marcsllite/util/handler/EntityManagerHandlerTest.java
Due: integration, unit_controller, unit_model, unit_service, unit_util

remove os variable from PropHandler, using value from OSUtil
  src/main/java/com/marcsllite/util/OSUtil.java
  src/main/java/com/marcsllite/util/handler/PropHandler.java
  src/test/java/com/marcsllite/util/OSUtilTest.java
  src/test/java/com/marcsllite/util/handler/PropHandlerTest.java
Due: integration, unit_util

remove secondaryStage null check, setting secondaryStage to new stage before use
  src/main/java/com/marcsllite/util/handler/StageHandler.java
Due: integration, unit_util

cleanup
  src/test/java/com/marcsllite/util/handler/StageHandlerTest.java
Due: unit_util

remove rerunning tests, adding skipAfterFailure
  pom.xml
Due: none

logging casting errors when selecting/setting up drop down items on Modify page
  src/main/java/com/marcsllite/controller/ModifyController.java
  src/main/java/com/marcsllite/util/controller/ModifyUtils.java
Due: integration, unit_controller, unit_util

suppressing java:S112 define and throw dedicated exception
  src/main/java/com/marcsllite/controller/ModifyController.java
Due: integration, unit_controller

make App variables static
  src/integration-test/java/com/marcsllite/GUITest.java
  src/main/java/com/marcsllite/App.java
Due: integration

hardcode app and data folder name, fix npe on FolderHandler constructor
  src/main/java/com/marcsllite/util/handler/FolderHandler.java
  src/test/java/com/marcsllite/util/handler/FolderHandlerTest.java
Due: integration, unit_util

creating executables, build
  appveyor.yml
  pom.xml
  src/assembly/assembly.xml
Due: none

passing class name to getLogger
  src/main/java/com/marcsllite/App.java
  src/main/java/com/marcsllite/controller/HomePaneController.java
  src/main/java/com/marcsllite/controller/MainController.java
  src/main/java/com/marcsllite/controller/MenuPaneController.java
  src/main/java/com/marcsllite/controller/ModifyController.java
  src/main/java/com/marcsllite/controller/ShipmentDetailsController.java
  src/main/java/com/marcsllite/controller/SummaryPaneController.java
  src/main/java/com/marcsllite/dao/AbstractDao.java
  src/main/java/com/marcsllite/model/ReportableQuantity.java
  src/main/java/com/marcsllite/service/DBServiceImpl.java
  src/main/java/com/marcsllite/util/controller/ModifyUtils.java
  src/main/java/com/marcsllite/util/factory/ControllerFactory.java
  src/main/java/com/marcsllite/util/factory/PropHandlerFactory.java
  src/main/java/com/marcsllite/util/handler/FolderHandler.java
  src/main/java/com/marcsllite/util/handler/PropHandler.java
  src/main/java/com/marcsllite/util/handler/StageHandler.java
Due: integration, unit_controller, unit_dao, unit_model, unit_service, unit_util

using FXCollections instead of com.sun.javafx.collections
  src/test/java/com/marcsllite/model/ShipmentTest.java
Due: unit_model

removing Launcher.java
  src/main/java/com/marcsllite/App.java
  src/main/java/com/marcsllite/Launcher.java
Due: integration

modularizing application
  src/main/java/module-info.java
Due: none

creating mac/linux/windows executable from jar
  pom.xml
  src/assembly/assembly.xml
  src/packaging/jarToExecutable.sh
Due: none

updating formatting
  appveyor.yml
  src/main/java/com/marcsllite/util/handler/ImageHandler.java
Due: integration, unit_util

removing unnecessary javafx dependencies
  pom.xml
Due: none

parsing nuclide name when building nuclide from first page of Modify pane
  src/main/java/com/marcsllite/controller/ModifyController.java
  src/main/java/com/marcsllite/util/NuclideUtils.java
Due: integration, unit_controller, unit_util

updating logging of opening/closing pages
  src/main/java/com/marcsllite/controller/SplashScreenController.java
  src/main/java/com/marcsllite/util/handler/StageHandler.java
Due: integration, unit_controller, unit_util

defining main class to launch in launch function
  src/main/java/com/marcsllite/App.java
Due: integration

++MANIFEST.MF w/ main-Class defined
  src/main/resources/META-INF/MANIFEST.MF
Due: none

organizing integration-test resources
  pom.xml
  src/integration-test/java/com/marcsllite/GUITest.java
  src/integration-test/resources/META-INF/createForTest.sql
  src/integration-test/resources/META-INF/dataForTest.sql
  src/integration-test/resources/META-INF/dropForTest.sql
  src/integration-test/resources/META-INF/persistence.xml
Due: integration

fix nuclide name not saved after add
  src/main/java/com/marcsllite/App.java
  src/main/java/com/marcsllite/controller/ModifyController.java
  src/main/java/com/marcsllite/dao/NuclideDaoImpl.java
  src/main/java/com/marcsllite/model/Nuclide.java
  src/main/java/com/marcsllite/model/db/NuclideModel.java
  src/main/java/com/marcsllite/model/db/NuclideModelId.java
  src/main/java/com/marcsllite/service/DBService.java
  src/main/java/com/marcsllite/service/DBServiceImpl.java
  src/main/java/com/marcsllite/util/NuclideUtils.java
  src/main/java/com/marcsllite/util/controller/ModifyUtils.java
  src/test/java/com/marcsllite/controller/ModifyControllerTest.java
Due: integration, unit_controller, unit_dao, unit_model, unit_service, unit_util

using org.apache.commons.lang3
  pom.xml
  src/main/java/com/marcsllite/controller/ModifyController.java
  src/main/java/com/marcsllite/controller/ReferencePaneController.java
  src/main/java/com/marcsllite/dao/NuclideDaoImpl.java
  src/main/java/com/marcsllite/model/Nuclide.java
  src/main/java/com/marcsllite/util/NuclideUtils.java
  src/main/java/com/marcsllite/util/OSUtil.java
  src/main/java/com/marcsllite/util/RadBigDecimal.java
  src/main/java/com/marcsllite/util/controller/ModifyUtils.java
  src/test/java/com/marcsllite/TestUtils.java
Due: integration, unit_controller, unit_dao, unit_model, unit_util

StageHandler logOpen and logClose functions
  src/main/java/com/marcsllite/util/handler/StageHandler.java
  src/test/java/com/marcsllite/util/handler/StageHandlerTest.java
Due: integration, unit_util

fix nuclide name not saved after add, ++static variables
  src/main/java/com/marcsllite/model/db/NuclideModelId.java
Due: integration, unit_model

move jvm config to pom file, (not working in jvm.config file)
  .mvn/jvm.config
  pom.xml
Due: none

set Ignore case for db
  src/main/resources/META-INF/persistence.xml
Due: none

cleanup module-info.java, pom.xml, NuclideConstants
  pom.xml
  src/main/java/com/marcsllite/model/NuclideConstants.java
  src/main/java/module-info.java
Due: integration, unit_model

update jarToExecutable.sh
  src/packaging/jarToExecutable.sh
Due: none

stop opening main app during splash screen testing
  src/main/java/com/marcsllite/controller/SplashScreenController.java
  src/test/java/com/marcsllite/ControllerFactoryTestObj.java
Due: integration, unit_controller

++SIPrefixAttrConverterTest
  src/test/java/com/marcsllite/model/db/SIPrefixAttrConverterTest.java
Due: unit_model

adding label variable to Shipment
  src/main/java/com/marcsllite/model/Shipment.java
  src/test/java/com/marcsllite/model/ShipmentTest.java
Due: integration, unit_model

++Shipment equals test
  src/test/java/com/marcsllite/model/ShipmentTest.java
Due: unit_model

assertion simplification
  src/test/java/com/marcsllite/util/factory/ControllerFactoryTest.java
Due: unit_util

Path conditions:
  integration: any of: src/integration-test/java/com/marcsllite/**, src/main/java/com/marcsllite/**
  unit_controller: any of: src/main/java/com/marcsllite/controller/**, src/test/java/com/marcsllite/controller/**
  unit_dao: any of: src/main/java/com/marcsllite/dao/**, src/test/java/com/marcsllite/dao/**
  unit_model: any of: src/main/java/com/marcsllite/model/**, src/test/java/com/marcsllite/model/**
  unit_service: any of: src/main/java/com/marcsllite/service/**, src/test/java/com/marcsllite/service/**
  unit_util: any of: src/main/java/com/marcsllite/util/**, src/test/java/com/marcsllite/util/**
