Repository Marcsllite/rad_shipment_calc: changes, and which Codecov flags are due for each by the changed paths.
All: integration, unit_controller, unit_dao, unit_model, unit_service, unit_util

Path conditions:
  integration: any of: src/integration-test/java/com/marcsllite/**, src/main/java/com/marcsllite/**
  unit_controller: any of: src/main/java/com/marcsllite/controller/**, src/test/java/com/marcsllite/controller/**
  unit_dao: any of: src/main/java/com/marcsllite/dao/**, src/test/java/com/marcsllite/dao/**
  unit_model: any of: src/main/java/com/marcsllite/model/**, src/test/java/com/marcsllite/model/**
  unit_service: any of: src/main/java/com/marcsllite/service/**, src/test/java/com/marcsllite/service/**
  unit_util: any of: src/main/java/com/marcsllite/util/**, src/test/java/com/marcsllite/util/**

updating jacoco missed class count, build
  pom.xml
Due: none

updating appveyor.yml on failure and on success, build
  appveyor.yml
Due: none

don't show sql in prod
  src/main/resources/META-INF/persistence.xml
Due: none

update appveyor and pom to save build executables
  appveyor.yml
  pom.xml
Due: none

fix assembly source error, debug executable artifact not saving, build
  appveyor.yml
  src/assembly/assembly.xml
Due: none

fix windows executable artifact not saving, build
  appveyor.yml
Due: none

fix windows Push-AppveyorArtifact command, build
  appveyor.yml
Due: none

update window closing log message
  src/main/java/com/marcsllite/util/handler/StageHandler.java
  src/test/java/com/marcsllite/util/handler/StageHandlerTest.java
Due: integration, unit_util

starting main app from SplashScreenController
  src/main/java/com/marcsllite/controller/SplashScreenController.java
Due: integration, unit_controller

updating assembly name, adding 'sh' file extension to mac/linux executable
  appveyor.yml
  pom.xml
  src/assembly/assembly.xml
Due: none

providing more information during java and javafx checks, checking for JAVAFX_HOME env variable
  src/packaging/jarToExecutable.sh
Due: none

setting headless testing programmatically in GUITest, build
  pom.xml
  src/integration-test/java/com/marcsllite/GUITest.java
Due: integration

using ModifyController.getNuclide to get the nuclide id instead of re-querying the database
  src/main/java/com/marcsllite/controller/ModifyController.java
  src/main/java/com/marcsllite/dao/NuclideDaoImpl.java
  src/main/java/com/marcsllite/model/db/NuclideModel.java
  src/main/java/com/marcsllite/service/DBService.java
  src/main/java/com/marcsllite/service/DBServiceImpl.java
  src/main/java/com/marcsllite/util/NuclideUtils.java
  src/test/java/com/marcsllite/controller/ModifyControllerTest.java
Due: integration, unit_controller, unit_dao, unit_model, unit_service, unit_util

setting headless testing through env variable
  appveyor.yml
  src/integration-test/java/com/marcsllite/GUITest.java
Due: integration

enabling disabled tests
  src/integration-test/java/com/marcsllite/controller/HomePaneControllerGUITest.java
  src/integration-test/java/com/marcsllite/controller/MenuPaneControllerGUITest.java
  src/integration-test/java/com/marcsllite/controller/ModifyControllerAddGUITest.java
Due: integration

ModifyController cleanup
  src/main/java/com/marcsllite/controller/ModifyController.java
Due: integration, unit_controller

fixing ModifyControllerAddGUITest
  src/integration-test/java/com/marcsllite/controller/ModifyControllerAddGUITest.java
Due: integration

updating test coverage, build
  pom.xml
Due: none

setting rscHeadless on machine, build
  appveyor.yml
Due: none
